body {
    background-color: #ffffff;
    width: 100%;
}

.navBar-Container {
    width:100%;
    height:60px;
    border-bottom: 3px solid #dddddd;
}

.navBar-group {
    max-width: 500px;
    float: right;
    margin-right:30px;
    margin-top: 20px;
}

.navBar-item {
    max-width:100px;
    display:inline-block;
    padding-right:30px;
}

.navBar-item h2 {
    color: #333333;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.navBar-item h2 a {
    text-decoration: none;
    color: #333333;
}

.box { 
    margin: 0px auto;
    margin-top: 300px !important;
    width: 100%;
    max-width: 500px;
    height: 80px; 
    text-align: center; 
}
  
.box .container-1 input{
    width: 100%;
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    padding:20px;
    border-radius: 25px;
    border: 2px solid #dddddd;
}

.footer-Container {
    Width: 100%;
    position: fixed;
    bottom: 0px;
}

.footer-Text {
    max-width: 500px;
    margin: 0 auto;
}

.footer-Text p {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    color:#333333;
}

.button-Container {
    width: 100%;
    margin: 0 auto;
    max-width: 500px;
    margin-top: 30px;
    text-align: center;
}

.button1 {
    width: 178px;
    max-width: 200px;
    height: 48px;
    background-color: #dddddd;
    border-radius: 25px;
    display: inline-block;
    margin-right: 50px;
}

.button1 p {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}

.button2 {
    width: 178px;
    max-width: 200px;
    height: 48px;
    background-color: #dddddd;
    border-radius: 25px;
    display: inline-block;
}

.button2 p {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}

.banner-Container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 30px !important;
}

.banner-Container img {
    opacity: 0.5;
}