body {
    background-color: #ffffff;
    width: 100%;
}

.navBar-Container {
    width:100%;
    height:60px;
    border-bottom: 3px solid #dddddd;
}

.navBar-group {
    max-width: 500px;
    float: right;
    margin-right:30px;
    margin-top: 20px;
}

.navBar-item {
    max-width:100px;
    display:inline-block;
    padding-right:30px;
}

.navBar-item h2 {
    color: #333333;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.navBar-item h2 a {
    text-decoration: none;
    color: #333333;
}

.logo-Container {
    width: 100%;
    max-width: 200px;
    text-align: center;
    margin-top: 120px !important;
    margin: 0 auto;
}

.box { 
    margin: 0px auto;
    width: 100%;
    max-width: 500px;
    height: 80px; 
    text-align: center; 
}
  
.box .container-1 input{
    width: 100%;
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    padding:20px;
    border-radius: 25px;
    border: 2px solid #dddddd;
}

.footer-Container {
    Width: 100%;
    position: fixed;
    bottom: 0px;
}

.footer-Text {
    max-width: 500px;
    margin: 0 auto;
}

.footer-Text p {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    color:#333333;
}

.button-Container {
    width: 100%;
    margin: 0 auto;
    max-width: 500px;
    margin-top: 30px;
    text-align: center;
}

.button1 {
    width: 178px;
    max-width: 200px;
    display: inline-block;
    margin-right: 50px;
}

.button1 button {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border-radius: 25px;
    width: 170px;
}

.button2 {
    width: 178px;
    max-width: 200px;
    border-radius: 25px;
    display: inline-block;
}

.button2 button {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border-radius: 25px;
    width: 170px;
}

.banner-Container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 30px !important;
}

.banner-Container img {
    opacity: 0.5;
}

.contact-form-container {
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
    margin-top: 100px !important;
    border: 1px solid #000000;
    border-radius: 15px;
    background-color: #dddddd;
}

.contact-form-container p {
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    text-align: center;
    color: cornflowerblue;
}

.contact-form-container form {
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800px;
    text-align: center;
}

.contact-form-container input {
    padding: 4px;
    margin-top: 25px;
    width: 400px;
    height: 50px;
    border-radius: 10px;
}

.contact-form-container textarea {
    padding: 4px;
    margin-top: 25px;
    width: 400px;
    height: 100px;
    border-radius: 10px;
}

.submit-button { 
    margin-top: 50px;
    width: 150px !important;
}