
h1 {
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #5d5;
}

h1 span {
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #000000;
    font-size: 15px;
}

/* Positioning of button on screen */

.button-Container-Top {
    width: 100%;
    margin-top: 150px;
}

.button-Color {
    width: 250px;
    display: block;
    margin: 25px auto;
    padding: 20px;
    border-radius: 10px;
    font-size: 15px;
    font-family: 'Exo', sans-serif;
}

.button-Image {
    width: 250px;
    display: block;
    margin: 25px auto;
    padding: 20px;
    border-radius: 10px;
    font-size: 15px;
    font-family: 'Exo', sans-serif;
}

.button-Container-Bottom {
    width: 100%;
    display: flex;
}

.text-container {
    width: 100%;
    max-width: 500px;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    margin-top: 100px;
}

.button-Container-Bottom button {
    width: 100%;
    max-width: 150px;
    display: block;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    font-size: 13px;
    font-family: 'Exo', sans-serif;
    margin-bottom: 20px;
}

#demo {
    width: 100%;
    text-align: center;
    font-family: 'Exo', sans-serif;
    line-height: 25px;
}

.center {
    text-align: center;
}

.demo-container {
    width: 100%;
    margin-top: 100px;
}