@media only screen and (max-width: 999px) {
    .recommend-Auto-Container {
        justify-content: center;
    }
}

@media only screen and (max-width: 779px) {
    .recommend-Inner {
        text-align: center;
    }
    .recommend-Btn {
        margin: 15px auto;
    }
    .footer-Nav {
        display: none;
    }
    .footer-Left {
        margin: auto;
    }
    .footer-Container {
        text-align: center;
    }
}

@media only screen and (max-width: 499px) {
    .nav-Container {
        margin: 0px;
        display: none;
    }
    .burger {
        display: inline-block;
        margin: 10px;
    }
    .mobile-Nav {
        border-bottom: 1px solid #ffffff;
        display: inline-block;
    }
    .mobile-Nav img {
        width: 100%;
        max-width: 70px;
        float: right;
        margin: 4px 10px 0px 0px;
    }
    .navBar {
        display: none;
    }
    .footer-Left {
        margin: auto;
    }
}