.header-container {
    display: flex;
    width: 100%;
    margin:0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header-logo {
    max-width: 1200px;
    display:flex;
    justify-content: center;
    margin: 0 auto !important;
}

.nav-bar {
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 1200px;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    margin: 0 auto;
}

.cardContainer {
    padding-top: 50px;
    width: 100%;
    justify-content: center;
    display: flex;
}

.cardCentered {
    width:1200px;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.margin20 {
    margin:20px;
}

.marginbtn {
    margin-left: 60px;
}